Source: ubuntucinnamon-wallpapers
Maintainer: Joshua Peisach <itzswirlz2020@outlook.com>
Section: misc
Priority: important
Build-Depends: debhelper (>= 12), debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/Ubuntu-Cinnamon-Remix/ubuntucinnamon-wallpapers
Vcs-Git: https://github.com/Ubuntu-Cinnamon-Remix/ubuntucinnamon-wallpapers.git
Homepage: https://github.com/Ubuntu-Cinnamon-Remix/

Package: ubuntucinnamon-wallpapers
Architecture: all
Suggests: ubuntucinnamon-wallpapers-eoan, ubuntucinnamon-wallpapers-focal
Depends: ${misc:Depends}
Description: Elegant and modern wallpapers for the Ubuntu Cinnamon desktop
 The Ubuntu Cinnamon Wallpapers are elegant, modern wallpapers
 that are easily able to fit the needs for your perfect desktop,
 whether you are running it for its purpose, Ubuntu Cinnamon
 or just for the elegance and fun. This is part of the ubuntucinnamon-artwork
 package and should be applicable to almost every desktop.

Package: ubuntucinnamon-wallpapers-eoan
Architecture: all
Suggests: ubuntucinnamon-wallpapers-focal, ubuntucinnamon-wallpapers
Depends: ${misc:Depends}
Description: Elegant and modern wallpapers for the Ubuntu Cinnamon desktop
 The Ubuntu Cinnamon 19.10 Eoan Ermine Wallpapers are elegant, modern
 wallpapers that are easily able to fit the needs for your perfect
 desktop, whether you are running it for its purpose, Ubuntu Cinnamon
 or just for the elegance and fun. This is part of the ubuntucinnamon-artwork
 package and should be applicable to almost every desktop.

Package: ubuntucinnamon-wallpapers-focal
Architecture: all
Depends: ${misc:Depends}
Recommends: ubuntucinnamon-wallpapers
Description: Elegant and modern wallpapers for the Ubuntu Cinnamon desktop
 The Ubuntu Cinnamon 20.04 Focal Fossa Wallpapers are elegant, modern
 wallpapers that are easily able to fit the needs for your perfect
 desktop, whether you are running it for its purpose, Ubuntu Cinnamon
 or just for the elegance and fun. This is part of the ubuntucinnamon-artwork
 package and should be applicable to almost every desktop.
