Source: ubuntucinnamon-wallpapers
Maintainer: Joshua Peisach <ubuntucinnamonremix7@gmail.com>
Section: misc
Priority: important
Build-Depends: debhelper (>= 12)
Rules-Requires-Root: no
Standards-Version: 4.4.0
Homepage: https://github.com/ubuntucinnamonremix/ubuntucinnamon-wallpapers

Package: ubuntucinnamon-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: Elegant and modern wallpapers for the Ubuntu Cinnamon desktop
 The Ubuntu Cinnamon Wallpapers are elegant, modern wallpapers
 that are easily able to fit the needs for your perfect desktop,
 whether you are running it for its purpose, Ubuntu Cinnamon
 or just for the elegance and fun. This is part of the ubuntucinnamon-artwork
 package and should be applicable to almost every desktop.
